@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: black;
}
.bg-valorant {
  background: rgb(6, 6, 19);
  background: linear-gradient(
    90deg,
    rgba(6, 6, 19, 1) 0%,
    rgba(35, 68, 75, 1) 100%
  );
}

.bg-button {
  background: rgb(251, 78, 78);
  background: linear-gradient(
    90deg,
    rgba(251, 78, 78, 1) 0%,
    rgba(232, 128, 97, 1) 97%
  );
}

.shadow {
  -webkit-box-shadow: -3px -2px 50px -3px rgba(148, 43, 43, 1);
  -moz-box-shadow: -3px -2px 50px -3px rgba(148, 43, 43, 1);
  box-shadow: -3px -2px 50px -3px rgba(148, 43, 43, 1);
}

.shadow:hover {
  -webkit-box-shadow: -3px -2px 90px -3px rgb(255, 255, 255);
  -moz-box-shadow: -3px -2px 90px -3px rgb(255, 0, 0);
  box-shadow: -3px -2px 90px -3px rgba(148, 43, 43, 1);
}

.width-container {
  width: 75%;
  height: 80%;
}

.padding-sections {
  padding: 70px;
}

.images-bg {
  width: 240px;
}

.img-banner1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltd0d7d66ca22d634c/6568b8df36b5454868cd88bd/AskVal_BansByType_Graph.jpg");
}

.img-banner2 {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt6b64467ee04ae6c4/6553e3356053f8669ec9274e/Val_Ep7_ArticleAsset_text.jpg");
}

.shadowBanner:hover {
  animation: banner forwards 0.6s;
}

@keyframes banner {
  0% {
    transform: scale(1.1);
    -webkit-box-shadow: -2px 11px 66px 12px rgba(255, 41, 41, 0.68);
    -moz-box-shadow: -2px 11px 66px 12px rgba(255, 41, 41, 0.68);
    box-shadow: -2px 11px 66px 12px rgba(255, 41, 41, 0.68);
  }

  100% {
    transform: scale(1);
  }
}

.hoverMenu p {
  padding: 2px;
  font-size: 14px;
}
.hoverMenu p:hover {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background: rgba(175, 175, 175, 0.164);
}
@media (max-width: 700px) {
  .width-container {
    width: 100%;
    height: 100%;
  }

  .padding-sections {
    padding: 24px;
  }
}

.flexingBanner {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .images-bg {
    display: none;
  }

  .flexingBanner {
    flex-direction: column;
    gap: 40px;
  }

  .flexingBanner div {
    width: 100%;
    height: 200px;
  }
}
